{% block my_checkbox_row %}
    <label class="required check-label" for="contact_contactValid">
        <input type="checkbox" id="contact_contactValid" name="contact[contactValid]" required="required">
        <span class="checkmark"></span>
    </label>
{% endblock %}
