.cookie {
  @apply z-50;
  opacity: .98;
  #cookie-banner {
    @apply fixed bg-black w-full p-2 z-10;
    > div {
      @apply relative flex justify-between items-center;
      p {
        @apply flex-1 text-white mr-4;
      }
      #cookie-more-button {
        @apply flex justify-center items-center;
        a {
          @apply px-4 py-1 font-semibold;
          &:focus {
            @apply outline-none;
          }
        }
      }
    }
  }
  div {
    bottom: 0;
  }
  .is-closed {
    bottom: -200px;
    animation: hide $duration forwards;
  }
  #cookie-inform-and-ask {
    @apply fixed bg-black w-full p-2;
    $input-border : theme('colors.gray.200');
    $input-focus-color : theme('colors.orange.400');
    $input-focus-error : #FF5555;
    table {
      @apply text-white;
      thead {
        tr {
          @apply text-left;
          th {
            @apply px-2;
          }
        }
      }
      tbody {
        tr {
          th {
            @apply text-left px-2;
          }
          td {
            @apply px-2;
          }
          td:last-child {
            div {
              @apply text-center;
              label {
                @apply pr-8;
              }
            }
          }
        }
      }
    }
    .checked {
      border-color: $input-border;
      background-image: url('../images/logos/check.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .check-label {
      position: relative;
      cursor: pointer;
      width: 25px;
      height: 20px;
      margin-top: 5px;
      .checkmark {
        @apply border-2 rounded-md;
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
      }
      &:hover .checkmark {
        @apply border-4;
        border-color: $input-focus-color;
      }

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        left: 0;
        width: 0;
      }
    }
    #ga-confirm-button {
      @apply mt-2 ml-auto flex justify-center items-center;
      a {
        @apply px-4 py-1 font-semibold;
        &:focus {
          @apply outline-none;
        }
      }
    }
  }
}

