#hw-footer {
  @apply w-full bg-gray-900 mb-0;

  .footer-upper {
    @apply flex flex-col max-w-5xl mx-auto;

    .footer-about {
      @apply flex flex-col pl-1 pr-4 pt-4 pb-1 text-white;

      @screen md {
        @apply flex-row;
      }

      div:first-child {
        @apply w-full;

        @screen md {
          @apply w-2/3;
        }
      }

      div:last-child {
        @apply w-full ml-2;

        @screen md {
          @apply w-1/3;
        }

        p:first-child {
          @apply relative mt-5;

          @screen md {
            @apply mt-0;
          }
        }

        p:last-child {
          /* @apply pt-6; */

          strong {
            @apply text-white font-normal
          }
        }
      }
    }

    .footer-nav {
      @apply flex flex-wrap justify-between px-4 py-4 text-white;

      >div {
        @apply w-full;

        @screen md {
          @apply w-1/2;
        }

        @screen lg {
          @apply w-1/3;
        }

        p {
          @apply relative mt-5;

          @screen md {
            @apply mt-0;
          }
        }

        ul {
          @apply pt-6;
        }
      }

      .footer-nav-contact {
        li {
          @apply break-words;

          img {
            @apply h-4 inline-block;
          }
        }
      }

      .footer-nav-rss {
        li {
          @apply flex justify-center items-center bg-orange-600 w-8 h-8;

          img {
            @apply h-4;
          }
        }
      }

      .footer-nav-menu {
        @apply flex flex-col justify-center;

        li {
          @apply flex justify-center items-center;

          a {
            @apply text-white py-2;

            &:hover {
              @apply font-bold;
            }

            &:focus {
              @apply outline-none;
            }
          }
        }
      }
    }
  }

  .footer-lower {
    @apply max-w-5xl mx-auto py-1 px-4 text-white;

    p {
      a {
        &:hover {
          @apply font-bold;
        }
      }
    }
  }
}