#hw-location {
  @apply z-0 relative max-w-5xl mx-auto my-1;

  .hw-underline-new {
    @apply mb-6 mx-auto;
  }

  .areas {
    @apply relative mt-12;

    figcaption {
      @apply flex flex-col border-solid border-2 border-black border-opacity-75;

      p {
        @apply text-white text-lg bg-black opacity-75 p-4 mt-0;
      }

      ul {
        @apply relative text-lg py-2;

        li {
          @apply pl-20;

          &:before {
            content: '';
            position: absolute;
            display: block;
            left: theme('spacing.4');
            top: theme('spacing.2');
            height: theme('spacing.6');
            width: theme('spacing.12');
            background-color: rgba(0, 0, 255, .5);
            border: 4px solid #0000ff;
          }
        }

        li:last-child {
          &:before {
            top: theme('spacing.10');
            background-color: rgba(255, 87, 42, .5);
            border: 4px solid #ff572a;
          }
        }
      }
    }
  }

  .location-details {
    @apply p-6;

    h3 {
      @apply mt-8 mb-2;
    }

    ul {
      @apply mt-2;

      li::before {
        content: '';
        width: .5rem;
        height:.5rem;
        @apply bg-orange-600 mr-2 mb-1 inline-block rounded-full;
      }
    }
  }

}