.policy {
  @apply relative max-w-full mx-auto;
  h1 {
    @apply text-center text-4xl text-white font-bold pt-24 w-full;
    margin: 0 auto;
    background-image: url("../images/policy/Hourraweb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(theme('spacing.24')*3 - theme('spacing.12'));
    }
  .policy-summary {
    @apply max-w-full bg-gray-100 mb-12 py-12;
    li {
      @apply max-w-5xl mx-2 text-gray-900 text-lg my-2;
      a {
        span {
          @apply text-gray-900 font-bold;
        }
        &:hover {
          @apply font-bold text-orange-600;
        }
      }
    }
  }
  .policy-container {
    @apply max-w-5xl mx-2 my-12;
    @screen lg {
      @apply mx-auto;
      h2 {
        @apply text-4xl font-bold text-gray-900 mt-6;
      }
      .hw-underline-new {
        @apply mb-4;
      }
      p {
        @apply text-lg mb-2;
        a {
          @apply text-orange-600 font-bold
        }
      }
    }
  }
}

