$translate : -220px;

#hw-service {
  @apply max-w-5xl;

  .hw-underline-new {
    @apply mb-6 mx-auto;
  }

  .price {
    @apply relative flex justify-evenly flex-wrap items-stretch h-full;
    transition: max-height $duration;

    .price-card {
      @apply mt-16 mx-2 mb-16;
      width: 310px;
      max-height: 420px;
      height: 720px;
      transition: max-height $duration;

      header {
        @apply z-10 relative bg-gray-900 text-center pb-4;

        h3 {
          height: 68px;
        }

        .price-card-icon {
          @apply absolute w-20 h-20 bg-white rounded-full border-solid border-4 border-white p-1;
          top: -2.5rem;
          left: calc(50% - 2.5rem);
        }

        div:nth-child(2) {
          @apply h-12 bg-gray-800;
        }

        h3 {
          @apply text-white text-xl px-2 pt-2;
        }

        div:nth-child(4) {
          @apply flex justify-center items-baseline;

          p {
            @apply text-white;
          }

          p:first-child {
            @apply text-2xl mx-2;
          }

          p:last-child {
            @apply text-5xl;
          }
        }

        .price-card-btn {
          @apply absolute;
          bottom: -1.2rem;
          left: calc(50% - 4rem);

          a {
            @apply block w-full px-2 py-2 text-sm font-semibold;

            &:focus {
              @apply outline-none;
            }
          }
        }
      }

      .price-card-details {
        @apply bg-white;

        aside {
          @apply z-0 flex flex-col justify-start bg-orange-200 pt-8 pb-4 px-4 text-center border-l-2 border-r-2;


          p {
            @apply mt-2;
          }


          div:first-child {
            @apply flex justify-center items-center;

            p {
              @apply text-4xl;

              sup {
                @apply text-2xl;
              }
            }

            img {
              @apply w-20 ml-2;
            }
          }

          >p {
            @apply text-2xl;
          }

          div:last-child {
            @apply flex justify-center;

            p {
              @apply text-4xl;

              sup,
              span {
                @apply text-2xl;
              }
            }
          }
        }

        .price-card-services {
          @apply p-4 px-4 border-l-2 border-r-2 shadow-lg;
          height: 230px;

          ul {
            @apply mt-2 text-lg;

            img {
              @apply inline-block w-4 mr-2;
            }
          }
        }

        aside,
        .price-card-services {
          transition: transform $duration;
        }
      }

      .is-opened {

        aside,
        .price-card-services {
          transform: translateY(0);
        }
      }

      .is-closed {

        aside,
        .price-card-services {
          transform: translateY($translate);
        }
      }
    }
  }
}