<div id="modal-1" class="hidden">
    <div class="modal-bg"></div>
    <div class="modal-content">
        <!--content-->
        <div>
            <!--body-->
            <div class="modal-body">
                <h2>{{ header.modal.title | trans }}</h2>
                <p>{{ header.modal.content | trans | raw }}</p>
            </div>
            <!--footer-->
            <div class="modal-footer space-x-4">
                <button class="btn-modal-cancel hover:shadow-lg hover:bg-gray-100">
                    {{ header.modal.cancel | trans }}
                </button>
                <a class="btn-modal-delete hover:shadow-lg hover:bg-red-600"
                   href="#">{{ header.modal.delete | trans }}</a>
            </div>
        </div>
    </div>
</div>
