{% extends 'base.html.twig' %}

{% block title %}{{ title.latest | trans }}{% endblock %}

{% block body %}
<section id="hw-articles-latest" class="container">
    <div class="header">
        {% include 'shared/_badge.html.twig' with {
            'route': 'articles',
            'items': categories
        } %}
    </div>
    <h1>{{ title.latest | trans }}</h1>
    <div class="hw-underline-new"></div>
    {% include 'shared/articles/_articles.html.twig' with {
        'badge': true,
        'items': articles
    } %}
</section>
    {% include 'shared/cookie/cookie.html.twig' %}
{% endblock %}
